.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.bg {
height: 37em;
}

.lnk {
  text-decoration: none !important;
  margin-left: 10px;
  color: #61dafb;
}

.lnk:hover {
  color:white
}

.insidecard {
  background-color: lightblue;
  text-decoration: none !important;
margin: 20px;
padding: 20px;
border: 2px solid;
border-radius: 20px;
color: darkslategrey;
}

.insidecard:hover {
  background-color: dodgerblue;
}

.crd {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:auto;
  width: 90%;
  position: relative;
  top: 20px;


}
.linkcard{
  text-decoration: none !important;
}

.tc {
  width: 80%;
  margin: auto;
}

.btnn {
  margin-right: 10px;
}

.navbb {
  width: 90%;
  margin:auto ;
  
}